/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2; /* Faded pink background */
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* Header Styles */
header {
    background: #ff66b2; /* Dark pink */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Section Styles */
section {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    color: #990000; /* Dark red */
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

input[type="date"],
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffcccc; /* Slight magenta border */
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #990000; /* Dark red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #800000; /* Darker red on hover */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Visualization Section Styles */
#calorie-intake-visualization {
    text-align: center;
}

#showVisualization {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #990000; /* Dark red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showVisualization:hover {
    background-color: #800000; /* Darker red on hover */
}

#plot {
    margin-top: 20px;
}
